body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #fff; /* Título branco */
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: center; /* Centraliza o texto do label */
}

input[type="text"] {
  padding: 8px;
  font-size: 14px;
  width: 50%;
  box-sizing: border-box;
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  border-radius: 10px; /* Adiciona bordas arredondadas */
}

button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ff0000; /* Botão vermelho */
  color: #fff; /* Texto do botão branco */
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-bottom: 10px; /* Adiciona espaço entre o botão e o próximo elemento */
}

#filmes {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 25%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  text-align: center;
}

p {
  margin-bottom: 5px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Outros estilos */

#botaoBuscar {
  transition: background-color 0.3s ease, color 0.3s ease;
}

#botaoBuscar:hover {
  background-color: #990000; /* Mudança de cor ao passar o mouse */
  color: #fff;
}

#filmes img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#filmes img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* No seu arquivo styles.css ou onde você estiver definindo seus estilos */

/* Estilo para o contêiner da saudação */
#saudacao-container {
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}

/* Estilo para a saudação */
#saudacao {
    font-size: 1.5em;
    font-weight: bold;
    color: #333; /* Cor desejada */
}

/* Outros estilos */

footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}
